@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?92r6uw');
  src:  url('fonts/icomoon.eot?92r6uw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?92r6uw') format('truetype'),
    url('fonts/icomoon.woff?92r6uw') format('woff'),
    url('fonts/icomoon.svg?92r6uw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e90e";
  color: #f54436;
}
.icon-Forma4:before {
  content: "\e900";
  color: #fff;
}
.icon-Forma1:before {
  content: "\e901";
  color: #fff;
}
.icon-Forma2:before {
  content: "\e902";
  color: #fff;
}
.icon-Forma3:before {
  content: "\e903";
  color: #fff;
}
.icon-Lock:before {
  content: "\e90f";
  color: #999;
}
.icon-Mail:before {
  content: "\e904";
  color: #ccc;
}
.icon-quest:before {
  content: "\e905";
  color: #fff;
}
.icon-teleg:before {
  content: "\e906";
  color: #50b1e9;
}
.icon-s1:before {
  content: "\e907";
  color: #f54436;
}
.icon-s2:before {
  content: "\e908";
  color: #f54436;
}
.icon-s3:before {
  content: "\e909";
  color: #f54436;
}
.icon-s4:before {
  content: "\e90a";
  color: #f54436;
}
.icon-arrow:before {
  content: "\e90b";
}
.icon-viber:before {
  content: "\e90c";
  color: #8c60c3;
}
.icon-whatsup:before {
  content: "\e90d";
  color: #71bf44;
}
